Repository securesign/tough: changes, and which Tekton pipelines are due for each by the changed paths.
All: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Path conditions:
  tuf-tool-on-push: (((((((any of: Dockerfile.rh) or (any of: .tekton/tuf-tool-push.yaml)) or (any of: deny.toml)) or (any of: Cargo.toml)) or (any of: Cargo.lock)) or (any of: tough/***)) or (any of: tuftool/***)) or (any of: Makefile)
  tuffer-on-pull-request: ((((((((any of: Dockerfile.tuffer) or (any of: .tekton/tuffer-pull-request.yaml)) or (any of: deny.toml)) or (any of: Cargo.toml)) or (any of: Cargo.lock)) or (any of: tough/***)) or (any of: tuftool/***)) or (any of: Makefile)) or (any of: rhtas/***)
  tuffer-on-push: ((((((((any of: Dockerfile.tuffer) or (any of: .tekton/tuffer-push.yaml)) or (any of: deny.toml)) or (any of: Cargo.toml)) or (any of: Cargo.lock)) or (any of: tough)) or (any of: tuftool)) or (any of: Makefile)) or (any of: rhtas)

fix failures
  Cargo.lock
  tough/src/editor/targets.rs
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

fix failures
  Cargo.lock
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

update ring version (contains Bug fix for DoS)
  Cargo.lock
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

update ring version (contains Bug fix for DoS) (#83)
  Cargo.lock
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

:robot: Updated timestamp file to 2025-03-27,10-10-35.
  trigger-konflux-builds.txt
Due: none

Update Dockerfile.rh
  Dockerfile.rh
Due: tuf-tool-on-push

Update Cargo.lock
  Cargo.lock
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Update rust.yml
  .github/workflows/rust.yml
Due: none

fix Rust CI
  .github/workflows/rust.yml
Due: none

fix Rust CI (#87)
  .github/workflows/rust.yml
Due: none

add cargo, rust to preinstalled packages
  Dockerfile.rh
  Dockerfile.tuffer
  rpms.in.yaml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

add cargo, rust to preinstalled packages
  rpms.lock.yaml
Due: none

update
  Dockerfile.rh
  Dockerfile.tuffer
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

remove packages install
  Dockerfile.rh
  Dockerfile.tuffer
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

enable prefetch for RPMs
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
  rpms.in.yaml
  rpms.lock.yaml
  ubi.repo
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

update pipelines: add prefetch and hermetic builds
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

add rpm prefetch-input
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Update README.md
  README.md
Due: none

Update http.rs
  tough/src/http.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

upste Dockerfiles, use rust/cargo version 1.84.0
  .github/workflows/rust.yml
  Dockerfile.rh
  Dockerfile.tuffer
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

[SECURESIGN-1399] update pipelines: add prefetch and hermetic builds (#84)
  .github/workflows/rust.yml
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
  Dockerfile.rh
  Dockerfile.tuffer
  rpms.in.yaml
  rpms.lock.yaml
  ubi.repo
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

deps bump
  Cargo.lock
  Dockerfile.rh
  Dockerfile.tuffer
  Makefile
  tough-kms/src/client.rs
  tough-kms/tests/test_utils.rs
  tough-ssm/src/client.rs
  tough/tests/target_path_safety.rs
  tuftool/tests/update_rhtas_command.rs
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

certs
  Dockerfile.tuffer
Due: tuffer-on-pull-request, tuffer-on-push

certs
  Dockerfile.rh
  Dockerfile.tuffer
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

:robot: Updated timestamp file to 2025-04-16,08-02-03.
  trigger-konflux-builds.txt
Due: none

fixing hermetic builds
  rpms.lock.yaml
  ubi.repo
Due: none

adding to tekton
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Hermetic builds fix (#91)
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
  rpms.lock.yaml
  ubi.repo
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Adding renovate.json to group pr's
  renovate.json
Due: none

Konflux build pipeline service account migration for tuf-tool Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
Due: tuf-tool-on-push

Konflux build pipeline service account migration for tuffer Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
Due: tuffer-on-pull-request, tuffer-on-push
