Repository securesign/tough: changes, and which Tekton pipelines are due for each by the changed paths.
All: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

tuf-tool-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/cli-tuftool:{{revision}}
  - name: dockerfile
    value: Dockerfile.rh
  - name: build-source-image
    value: 'true'
  pipelineRef:
    resolver: git
    params:
  ...

tuffer-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/tuffer:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile.tuffer
  - name: build-source-image
    value: 'true'
  ...

tuffer-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/tuffer:{{revision}}
  - name: dockerfile
    value: Dockerfile.tuffer
  - name: build-source-image
    value: 'true'
  pipelineRef:
    resolver: git
    params:
  ...

feat: make operator configurable (#201)
  rhtas/tuf-repo-init.sh
  tuftool/src/rhtas.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

feat: parse fulcio and TSA certs
  rhtas/tuf-repo-init.sh
  tuftool/src/rhtas.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

linter
  tuftool/src/rhtas.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

feat: parse fulcio and TSA certs (#202)
  rhtas/tuf-repo-init.sh
  tuftool/src/rhtas.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

:robot: Updated timestamp file to 2026-04-08,12-01-16.
  trigger-konflux-builds.txt
Due: none

Fix: --oidc-uri to support multiple values per invocation
  .github/workflows/trust-root-test.yml
  rhtas/tuf-repo-init.sh
  tuftool/src/rhtas.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

feat: enable multi platform build
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
Due: tuf-tool-on-push

fix: update platforms under rpms
  rpms.in.yaml
Due: none

update lock file
  rpms.lock.yaml
Due: none

fix: update deps for ppc64le and s390x builds
  Dockerfile.rh
  rpms.in.yaml
  rpms.lock.yaml
Due: tuf-tool-on-push

supress s390x build issue
  Dockerfile.rh
Due: tuf-tool-on-push

Updating Tekton tags
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Update Tekton pipelines for release-1.4 branch
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
  .tekton/tuftool-cli-stack-pull-request.yaml
  .tekton/tuftool-cli-stack-push.yaml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Update release version to 1.4.1
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Adding release-1.4 to workflows
  .github/workflows/rust.yml
  .github/workflows/shellcheck.yml
  .github/workflows/trigger-konflux-build.yaml
  .github/workflows/trust-root-test.yml
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
  .tekton/tuftool-cli-stack-pull-request.yaml
  .tekton/tuftool-cli-stack-push.yaml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Updating Pipeline run names
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Updating Service accounts
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Red Hat Konflux update tuf-tool-v1-4
  .tekton/tuf-tool-v1-4-pull-request.yaml
  .tekton/tuf-tool-v1-4-push.yaml
Due: none

Red Hat Konflux update tuffer-v1-3
  .tekton/tuffer-v1-3-pull-request.yaml
  .tekton/tuffer-v1-3-push.yaml
Due: none

Red Hat Konflux update tuf-tool-v1-3
  .tekton/tuf-tool-v1-3-pull-request.yaml
  .tekton/tuf-tool-v1-3-push.yaml
Due: none

Running update
  Cargo.lock
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Update release-version to 1.3.5
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

feat: move to ubi-minimal
  Dockerfile.rh
  Dockerfile.tuffer
  rpms.in.yaml
  rpms.lock.yaml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

fix: add openssl to runtime
  Dockerfile.rh
Due: tuf-tool-on-push

test
  Dockerfile.tuffer
  rpms.in.yaml
  rpms.lock.yaml
Due: tuffer-on-pull-request, tuffer-on-push

Red Hat Konflux update tuffer-v1-4
  .tekton/tuffer-v1-4-pull-request.yaml
  .tekton/tuffer-v1-4-push.yaml
Due: none

Red Hat Konflux update tuftool-cli-stack-v1-4
  .tekton/tuftool-cli-stack-v1-4-pull-request.yaml
  .tekton/tuftool-cli-stack-v1-4-push.yaml
Due: none

fix: cli stack and tuf component issues
  .github/workflows/rust.yml
  .github/workflows/shellcheck.yml
  .github/workflows/trigger-konflux-build.yaml
  .github/workflows/trust-root-test.yml
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
  .tekton/tuftool-cli-stack-pull-request.yaml
  .tekton/tuftool-cli-stack-push.yaml
  Dockerfile.cli-stack.rh
  Dockerfile.rh
  Dockerfile.tuffer
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Updating Tekton names
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
  .tekton/tuftool-cli-stack-pull-request.yaml
  .tekton/tuftool-cli-stack-push.yaml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

chore: update cli-stack image
  Dockerfile.cli-stack.rh
Due: none

update rpms.lock.yaml
  rpms.lock.yaml
Due: none

Add sync-upstream workflow
  .github/workflows/sync-upstream.yaml
Due: none

build: rework cli-stack to use ubi-micro and update packaging
  Dockerfile.cli-stack.rh
Due: none

Update comment for allow_expired_repo argument
  tuftool/src/rhtas.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

fix windows builds: upgrade aws-lc-rs, aws-lc-sys
  Cargo.lock
  rpms.lock.yaml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

fix windows builds: upgrade aws-lc-rs, aws-lc-sys (#238)
  Cargo.lock
  rpms.lock.yaml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

fix: rework cli-stack and enable multi-platform tuf-tool builds
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  Dockerfile.cli-stack.rh
  Dockerfile.rh
  rpms.in.yaml
  rpms.lock.yaml
Due: tuf-tool-on-push

build: add multi-arch binary packaging to cli-stack
  Dockerfile.cli-stack.rh
Due: none

fix: use correct hash algorithms for P-384 and P-521 keys
  tuftool/src/rhtas.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

Path conditions:
  tuf-tool-on-push: (((((((any of: Dockerfile.rh) or (any of: .tekton/tuf-tool-push.yaml)) or (any of: deny.toml)) or (any of: Cargo.toml)) or (any of: Cargo.lock)) or (any of: tough/***)) or (any of: tuftool/***)) or (any of: Makefile)
  tuffer-on-pull-request: ((((((((any of: Dockerfile.tuffer) or (any of: .tekton/tuffer-pull-request.yaml)) or (any of: deny.toml)) or (any of: Cargo.toml)) or (any of: Cargo.lock)) or (any of: tough/***)) or (any of: tuftool/***)) or (any of: Makefile)) or (any of: rhtas/***)
  tuffer-on-push: ((((((((any of: Dockerfile.tuffer) or (any of: .tekton/tuffer-push.yaml)) or (any of: deny.toml)) or (any of: Cargo.toml)) or (any of: Cargo.lock)) or (any of: tough)) or (any of: tuftool)) or (any of: Makefile)) or (any of: rhtas)
