Repository securesign/tough: changes, and which Tekton pipelines are due for each by the changed paths.
All: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Path conditions:
  tuf-tool-on-push: (((((((any of: Dockerfile.rh) or (any of: .tekton/tuf-tool-push.yaml)) or (any of: deny.toml)) or (any of: Cargo.toml)) or (any of: Cargo.lock)) or (any of: tough/***)) or (any of: tuftool/***)) or (any of: Makefile)
  tuffer-on-pull-request: ((((((((any of: Dockerfile.tuffer) or (any of: .tekton/tuffer-pull-request.yaml)) or (any of: deny.toml)) or (any of: Cargo.toml)) or (any of: Cargo.lock)) or (any of: tough/***)) or (any of: tuftool/***)) or (any of: Makefile)) or (any of: rhtas/***)
  tuffer-on-push: ((((((((any of: Dockerfile.tuffer) or (any of: .tekton/tuffer-push.yaml)) or (any of: deny.toml)) or (any of: Cargo.toml)) or (any of: Cargo.lock)) or (any of: tough)) or (any of: tuftool)) or (any of: Makefile)) or (any of: rhtas)

fix: use correct hash algorithms for P-384 and P-521 keys
  tuftool/src/rhtas.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

fix: use correct hash algorithms for P-384 and P-521 keys (#240)
  tuftool/src/rhtas.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

fix: use correct hash algorithms for P-384 and P-521 keys (#241)
  tuftool/src/rhtas.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

Add ALLOW_CROSS_PLATFORM_IMAGES parameter to cli-stack pipelines
  .tekton/tuftool-cli-stack-pull-request.yaml
  .tekton/tuftool-cli-stack-push.yaml
Due: none

Fixing Tough cli-stacks
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
Due: tuf-tool-on-push

Update release-version to 1.4.2
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
  .tekton/tuftool-cli-stack-pull-request.yaml
  .tekton/tuftool-cli-stack-push.yaml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Removing conflict
  Dockerfile.rh
Due: tuf-tool-on-push

Update deps
  Dockerfile.rh
Due: tuf-tool-on-push

REsolving build issues
  Dockerfile.rh
Due: tuf-tool-on-push

Updating lockfiles
  rpms.in.yaml
  rpms.lock.yaml
Due: none

feat: enable multi platform build
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
Due: tuf-tool-on-push

update lock file
  rpms.lock.yaml
Due: none

fix: update deps for ppc64le and s390x builds
  rpms.in.yaml
  rpms.lock.yaml
Due: none

fix: cli stack and tuf component issues
  Dockerfile.cli-stack.rh
  Dockerfile.rh
  Dockerfile.tuffer
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

multiplatform images
  Dockerfile.cli-stack.rh
Due: none

docker image updates
  Dockerfile.cli-stack.rh
  Dockerfile.rh
  Dockerfile.tuffer
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Updating rpms
  rpms.lock.yaml
Due: none

Update cli-stack with platform-specific digests
  Dockerfile.cli-stack.rh
Due: none

Updating images
  Dockerfile.cli-stack.rh
Due: none

fix: always use SHA2_256 for transparency log Merkle tree hash
  tuftool/src/rhtas.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

fix: always use SHA2_256 for transparency log Merkle tree hash (#255)
  tuftool/src/rhtas.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

fix: always use SHA2_256 for transparency log Merkle tree hash (#256)
  tuftool/src/rhtas.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

Update release-version to 1.3.6 in Tekton pipelines
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Docker images updated
  Dockerfile.rh
  Dockerfile.tuffer
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

refresh rpms.lock.yaml
  rpms.lock.yaml
Due: none

refresh rpms.lock.yaml (#259)
  rpms.lock.yaml
Due: none

feat: add allow cross platform images parameter to pipeline configurations
  .tekton/tuftool-cli-stack-pull-request.yaml
  .tekton/tuftool-cli-stack-push.yaml
Due: none

Updating Lock file
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  rpms.lock.yaml
Due: tuf-tool-on-push

fix(ci): use Ninja generator to fix Windows builds
  .github/workflows/rust.yml
Due: none

Updating Cli-stack
  Dockerfile.cli-stack.rh
Due: none

fix: update CLI tool image hashes for multiple architectures
  Dockerfile.cli-stack.rh
Due: none

Update tuftool-cli-stack digests from Wave 1 builds
  Dockerfile.cli-stack.rh
Due: none

Release version updated to 1.4.3
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
  .tekton/tuftool-cli-stack-pull-request.yaml
  .tekton/tuftool-cli-stack-push.yaml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Update tuftool cli-stack image digests from Wave 1 builds 2026-07-29
  Dockerfile.cli-stack.rh
Due: none

Update cli-stacks image digests from Wave 1 builds 2026-07-30
  Dockerfile.cli-stack.rh
Due: none

build: enable hermetic builds for tuftool cli-stack
  .tekton/tuftool-cli-stack-pull-request.yaml
  .tekton/tuftool-cli-stack-push.yaml
Due: none
