Repository securesign/tough: changes, and which Tekton pipelines are due for each by the changed paths.
All: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Path conditions:
  tuf-tool-on-push: (((((((any of: Dockerfile.rh) or (any of: .tekton/tuf-tool-push.yaml)) or (any of: deny.toml)) or (any of: Cargo.toml)) or (any of: Cargo.lock)) or (any of: tough/***)) or (any of: tuftool/***)) or (any of: Makefile)
  tuffer-on-pull-request: ((((((((any of: Dockerfile.tuffer) or (any of: .tekton/tuffer-pull-request.yaml)) or (any of: deny.toml)) or (any of: Cargo.toml)) or (any of: Cargo.lock)) or (any of: tough/***)) or (any of: tuftool/***)) or (any of: Makefile)) or (any of: rhtas/***)
  tuffer-on-push: ((((((((any of: Dockerfile.tuffer) or (any of: .tekton/tuffer-push.yaml)) or (any of: deny.toml)) or (any of: Cargo.toml)) or (any of: Cargo.lock)) or (any of: tough)) or (any of: tuftool)) or (any of: Makefile)) or (any of: rhtas)

trigger-konflux-build
  Dockerfile.rh
  Dockerfile.tuffer
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

fix cargo clippy failures
  tough/src/editor/mod.rs
  tough/src/sign.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

revert changes
  tough/src/editor/mod.rs
  tough/src/sign.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

clippy fixes
  tough/src/editor/mod.rs
  tough/src/sign.rs
  tough/tests/test_utils.rs
  tuftool/tests/test_utils.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

fix tests
  tough/src/editor/mod.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

fix cargo clippy failures (#74)
  tough/src/editor/mod.rs
  tough/src/sign.rs
  tough/tests/test_utils.rs
  tuftool/tests/test_utils.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

detect public key details dynamically (rekor/ctlog)
  Cargo.lock
  Dockerfile.rh
  Dockerfile.tuffer
  tough/tests/data/rhtas-targets/ctfe.pub
  tuftool/Cargo.toml
  tuftool/src/error.rs
  tuftool/src/rhtas.rs
  tuftool/tests/rhtas_command.rs
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

detect public key details dynamically (rekor/ctlog) (#75)
  Cargo.lock
  Dockerfile.rh
  Dockerfile.tuffer
  tough/tests/data/rhtas-targets/ctfe.pub
  tuftool/Cargo.toml
  tuftool/src/error.rs
  tuftool/src/rhtas.rs
  tuftool/tests/rhtas_command.rs
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

fix: rawBytes take base64-encoded DER bytes
  Cargo.lock
  tuftool/Cargo.toml
  tuftool/src/rhtas.rs
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

make build
  tuftool/src/rhtas.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

cargo fmt
  tuftool/src/rhtas.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

delete_target: consider certificate chain
  Cargo.lock
  tuftool/Cargo.toml
  tuftool/src/rhtas.rs
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

undo
  Cargo.lock
  tuftool/Cargo.toml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

review updates
  Cargo.lock
  tuftool/Cargo.toml
  tuftool/src/rhtas.rs
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

[SECURESIGN-1742] fix: rawBytes base64-encoded DER bytes (#73)
  Cargo.lock
  tuftool/Cargo.toml
  tuftool/src/rhtas.rs
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

trigger fresh build
  Dockerfile.rh
  Dockerfile.tuffer
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

add-trigger-konflux-build-action
  .github/workflows/trigger-konflux-build.yaml
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

update branch name
  .github/workflows/trigger-konflux-build.yaml
Due: none

:robot: Updated timestamp file to 2025-02-26,09-43-09.
  trigger-konflux-builds.txt
Due: none

Update rust dependencies
  Cargo.lock
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Prepare for release
  Cargo.lock
  tough-kms/CHANGELOG.md
  tough-kms/Cargo.toml
  tough-ssm/CHANGELOG.md
  tough-ssm/Cargo.toml
  tough/CHANGELOG.md
  tough/Cargo.toml
  tuftool/CHANGELOG.md
  tuftool/Cargo.toml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

dependency: update aws-sdk-kms to v1.41
  Cargo.lock
  deny.toml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

tuftool: switch to use rustls-tls-native-roots for reqwest
  tuftool/Cargo.toml
Due: tuf-tool-on-push, tuffer-on-pull-request

Prepare for release
  Cargo.lock
  tuftool/CHANGELOG.md
  tuftool/Cargo.toml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

tough: migrate from ring to aws-lc-rs
  Cargo.lock
  tough/Cargo.toml
  tough/src/editor/mod.rs
  tough/src/editor/signed.rs
  tough/src/editor/targets.rs
  tough/src/error.rs
  tough/src/io.rs
  tough/src/schema/key.rs
  tough/src/schema/mod.rs
  tough/src/schema/spki.rs
  tough/src/sign.rs
  tough/tests/target_path_safety.rs
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

tuftool: migrate to aws-lc-rs
  Cargo.lock
  tuftool/Cargo.toml
  tuftool/src/root.rs
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

tough-kms: migrate from ring to aws-lc-rs
  Cargo.lock
  tough-kms/Cargo.toml
  tough-kms/src/lib.rs
  tough-kms/tests/all_test.rs
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

licenses: skip untrusted v0.7.1
  deny.toml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

tough-kms: upgrade to hyper-v1 using aws-smithy-experimental
  Cargo.lock
  deny.toml
  tough-kms/Cargo.toml
  tough-kms/src/client.rs
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

tuftool: update aws-config to use hyper v1
  Cargo.lock
  tuftool/Cargo.toml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

tough-ssm: upgrade to hyper-v1 using aws-smithy-experimental
  Cargo.lock
  tough-ssm/Cargo.toml
  tough-ssm/src/client.rs
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

feature: add a 'fips' feature to crates
  .github/workflows/rust.yml
  Cargo.lock
  Makefile
  tough-kms/Cargo.toml
  tough-ssm/Cargo.toml
  tough/Cargo.toml
  tuftool/Cargo.toml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

tuftool: install default CryptoProvider for HTTP client
  tough/src/http.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

deps: bump reqwest to 0.12, httptest to 0.16
  Cargo.lock
  deny.toml
  tough/Cargo.toml
  tuftool/Cargo.toml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Fix 128bit integer serialization
  Cargo.lock
  olpc-cjson/Cargo.toml
  olpc-cjson/src/lib.rs
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Prepare for release
  Cargo.lock
  olpc-cjson/CHANGELOG.md
  olpc-cjson/Cargo.toml
  tough-kms/CHANGELOG.md
  tough-kms/Cargo.toml
  tough-ssm/CHANGELOG.md
  tough-ssm/Cargo.toml
  tough/CHANGELOG.md
  tough/Cargo.toml
  tuftool/CHANGELOG.md
  tuftool/Cargo.toml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

generate new cargo.lock
  Cargo.lock
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

fix typo
  Cargo.lock
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

fix pull
  Cargo.lock
  tough/src/editor/mod.rs
  tough/src/editor/targets.rs
  tough/tests/target_path_safety.rs
  tuftool/src/root.rs
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push
