Repository securesign/tough: changes, and which Tekton pipelines are due for each by the changed paths.
All: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

tuf-tool-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/cli-tuftool:{{revision}}
  - name: dockerfile
    value: Dockerfile.rh
  - name: build-source-image
    value: 'true'
  pipelineRef:
    resolver: git
    params:
  ...

tuffer-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/tuffer:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile.tuffer
  - name: build-source-image
    value: 'true'
  ...

tuffer-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/tuffer:{{revision}}
  - name: dockerfile
    value: Dockerfile.tuffer
  - name: build-source-image
    value: 'true'
  pipelineRef:
    resolver: git
    params:
  ...

[SECURESIGN-3399] tuf init: add CLI options for configurable Rekor, Fulcio, CTLog, and TSA URIs instead of hardcoded values (#152)
  .github/workflows/trust-root-test.yml
  rhtas/tuf-repo-init.sh
Due: tuffer-on-pull-request

chore: swap sha2 usage for openssl
  Cargo.lock
  tuftool/Cargo.toml
  tuftool/src/rhtas.rs
  tuftool/src/sigstore_trust/trust/sigstore/mod.rs
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Updating Tekton References
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

:robot: Updated timestamp file to 2025-11-19,09-44-10.
  trigger-konflux-builds.txt
Due: none

fix: update lockfile
  rpms.lock.yaml
Due: none

:robot: Updated timestamp file to 2026-01-23,10-38-29.
  trigger-konflux-builds.txt
Due: none

:robot: Updated timestamp file to 2026-01-23,10-46-22.
  trigger-konflux-builds.txt
Due: none

Updating Timestamp File
  trigger-konflux-builds.txt
Due: none

Updating Branch value
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Updating Lockfile
  rpms.lock.yaml
Due: none

Updating Workflows
  .github/workflows/rust.yml
  .github/workflows/shellcheck.yml
  .github/workflows/trigger-konflux-build.yaml
  .github/workflows/trust-root-test.yml
Due: none

chore: add release-version param
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Updating Ubi Repo
  ubi.repo
Due: none

updating lockfile
  rpms.lock.yaml
Due: none

Fix sigstore_trust tests
  tuftool/src/sigstore_trust/trust/sigstore/mod.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

fix: correct permissions on root.json (#133)
  rhtas/tuf-repo-init.sh
Due: tuffer-on-pull-request

ci: add fips check
  .github/workflows/rust.yml
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
  Cargo.lock
  Dockerfile.rh
  Dockerfile.tuffer
  rpms.lock.yaml
  tuftool/Cargo.toml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

remove unused import
  tuftool/src/rhtas.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

:robot: Updated timestamp file to 2026-01-26,10-04-33.
  trigger-konflux-builds.txt
Due: none

Pull from develop (#162)
  .github/workflows/rust.yml
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
  Cargo.lock
  Dockerfile.rh
  Dockerfile.tuffer
  rhtas/tuf-repo-init.sh
  rpms.lock.yaml
  tuftool/Cargo.toml
  tuftool/src/rhtas.rs
  tuftool/src/sigstore_trust/trust/sigstore/mod.rs
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Adding Product Version for CPE Label
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Updating Timestamp file to trigger build
  trigger-konflux-builds.txt
Due: none

Triggering 1.2 Build
  trigger-konflux-builds.txt
Due: none

:robot: Updated timestamp file to 2026-02-04,17-12-07.
  trigger-konflux-builds.txt
Due: none

Update tuffer-push.yaml
  .tekton/tuffer-push.yaml
Due: tuffer-on-push

Adding oidc_urls to signingConfig
  .github/workflows/trust-root-test.yml
  rhtas/tuf-repo-init.sh
  tuftool/src/rhtas.rs
  tuftool/src/sigstore_trust/trust/sigstore/mod.rs
  tuftool/tests/rhtas_command.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

fix
  tuftool/tests/rhtas_command.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

Adding oidc_urls to signingConfig (#169)
  .github/workflows/trust-root-test.yml
  rhtas/tuf-repo-init.sh
  tuftool/src/rhtas.rs
  tuftool/src/sigstore_trust/trust/sigstore/mod.rs
  tuftool/tests/rhtas_command.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

chore: refresh lockfile
  rpms.lock.yaml
Due: none

chore: refresh lockfile
  trigger-konflux-builds.txt
Due: none

chore: refresh lockfile (#170)
  rpms.lock.yaml
  trigger-konflux-builds.txt
Due: none

Update tuf-tool-push.yaml
  .tekton/tuf-tool-push.yaml
Due: tuf-tool-on-push

Updating Docker labels
  Dockerfile.rh
  Dockerfile.tuffer
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Align trusted_root.json schema with sigstore-go requirements
  tuftool/src/rhtas.rs
  tuftool/src/sigstore_trust/trust/sigstore/mod.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

Path conditions:
  tuf-tool-on-push: (((((((any of: Dockerfile.rh) or (any of: .tekton/tuf-tool-push.yaml)) or (any of: deny.toml)) or (any of: Cargo.toml)) or (any of: Cargo.lock)) or (any of: tough/***)) or (any of: tuftool/***)) or (any of: Makefile)
  tuffer-on-pull-request: ((((((((any of: Dockerfile.tuffer) or (any of: .tekton/tuffer-pull-request.yaml)) or (any of: deny.toml)) or (any of: Cargo.toml)) or (any of: Cargo.lock)) or (any of: tough/***)) or (any of: tuftool/***)) or (any of: Makefile)) or (any of: rhtas/***)
  tuffer-on-push: ((((((((any of: Dockerfile.tuffer) or (any of: .tekton/tuffer-push.yaml)) or (any of: deny.toml)) or (any of: Cargo.toml)) or (any of: Cargo.lock)) or (any of: tough)) or (any of: tuftool)) or (any of: Makefile)) or (any of: rhtas)
