Repository securesign/tough: changes, and which Tekton pipelines are due for each by the changed paths.
All: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Path conditions:
  tuf-tool-on-push: (((((((any of: Dockerfile.rh) or (any of: .tekton/tuf-tool-push.yaml)) or (any of: deny.toml)) or (any of: Cargo.toml)) or (any of: Cargo.lock)) or (any of: tough/***)) or (any of: tuftool/***)) or (any of: Makefile)
  tuffer-on-pull-request: ((((((((any of: Dockerfile.tuffer) or (any of: .tekton/tuffer-pull-request.yaml)) or (any of: deny.toml)) or (any of: Cargo.toml)) or (any of: Cargo.lock)) or (any of: tough/***)) or (any of: tuftool/***)) or (any of: Makefile)) or (any of: rhtas/***)
  tuffer-on-push: ((((((((any of: Dockerfile.tuffer) or (any of: .tekton/tuffer-push.yaml)) or (any of: deny.toml)) or (any of: Cargo.toml)) or (any of: Cargo.lock)) or (any of: tough)) or (any of: tuftool)) or (any of: Makefile)) or (any of: rhtas)

Update release-version to 1.3.7
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

SECURESIGN-5379: add explicit workflow permissions
  .github/workflows/trigger-konflux-build.yaml
Due: none

chore: securesign-5419: pin github actions to their SHAs
  .github/workflows/rust.yml
  .github/workflows/shellcheck.yml
  .github/workflows/trust-root-test.yml
Due: none

Update Docker Images
  Dockerfile.rh
  Dockerfile.tuffer
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Update Rust Dependencies
  integ/failure-server/Cargo.toml
  tough-kms/Cargo.toml
  tough-ssm/Cargo.toml
  tough/Cargo.toml
  tuftool/Cargo.toml
Due: tuf-tool-on-push, tuffer-on-pull-request

chore(deps): update rust dependencies
  integ/failure-server/Cargo.toml
  tough-kms/Cargo.toml
  tough-ssm/Cargo.toml
  tough/Cargo.toml
  tuftool/Cargo.toml
Due: tuf-tool-on-push, tuffer-on-pull-request

chore(deps): update docker images
  Dockerfile.cli-stack.rh
  Dockerfile.rh
  Dockerfile.tuffer
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Update Docker Images
  Dockerfile.cli-stack.rh
  Dockerfile.rh
  Dockerfile.tuffer
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Update release-version to 1.3.8
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

fix: refresh RPM lockfile for updated UBI images
  rpms.lock.yaml
Due: none

Update registry.redhat.io/ubi9/ubi-minimal Docker digest to 1d7c551
  Dockerfile.cli-stack.rh
Due: none

chore: update release version to 1.4.4
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
  .tekton/tuftool-cli-stack-pull-request.yaml
  .tekton/tuftool-cli-stack-push.yaml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

fix: SECURESIGN-5300, 5303, 5777, 5778 - fix CVE-2026-18140 and CVE-2026-93599
  .github/workflows/rust.yml
  Cargo.lock
  Dockerfile.rh
  Makefile
  olpc-cjson/src/lib.rs
  tough-kms/src/client.rs
  tough-kms/src/error.rs
  tough-ssm/src/client.rs
  tough-ssm/src/error.rs
  tough/src/editor/signed.rs
  tough/src/editor/targets.rs
  tough/src/io.rs
  tough/src/lib.rs
  tough/src/schema/mod.rs
  tough/src/transport.rs
  tuftool/Cargo.toml
  tuftool/src/clone.rs
  tuftool/src/download.rs
  tuftool/src/main.rs
  tuftool/src/rhtas.rs
  tuftool/src/sigstore_trust/trust/mod.rs
  tuftool/src/update.rs
  tuftool/src/update_targets.rs
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push
