Repository securesign/tough: changes, and which Tekton pipelines are due for each by the changed paths.
All: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Path conditions:
  tuf-tool-on-push: (((((((any of: Dockerfile.rh) or (any of: .tekton/tuf-tool-push.yaml)) or (any of: deny.toml)) or (any of: Cargo.toml)) or (any of: Cargo.lock)) or (any of: tough/***)) or (any of: tuftool/***)) or (any of: Makefile)
  tuffer-on-pull-request: ((((((((any of: Dockerfile.tuffer) or (any of: .tekton/tuffer-pull-request.yaml)) or (any of: deny.toml)) or (any of: Cargo.toml)) or (any of: Cargo.lock)) or (any of: tough/***)) or (any of: tuftool/***)) or (any of: Makefile)) or (any of: rhtas/***)
  tuffer-on-push: ((((((((any of: Dockerfile.tuffer) or (any of: .tekton/tuffer-push.yaml)) or (any of: deny.toml)) or (any of: Cargo.toml)) or (any of: Cargo.lock)) or (any of: tough)) or (any of: tuftool)) or (any of: Makefile)) or (any of: rhtas)

Update specification-version-check.yml
  .github/workflows/specification-version-check.yml
Due: none

Regenerate rpms.lock.yaml
  rpms.lock.yaml
Due: none

Regenerate rpms.lock.yaml (#99)
  rpms.lock.yaml
Due: none

chore(SECURESIGN-1855): Exit with different status code in case of existing repository
  rhtas/tuf-repo-init.sh
Due: tuffer-on-pull-request

embed sigstore-rs into tough
  Cargo.lock
  deny.toml
  tuftool/Cargo.toml
  tuftool/src/main.rs
  tuftool/src/rhtas.rs
  tuftool/src/sigstore_trust/Cargo.toml
  tuftool/src/sigstore_trust/errors.rs
  tuftool/src/sigstore_trust/mod.rs
  tuftool/src/sigstore_trust/trust/mod.rs
  tuftool/src/sigstore_trust/trust/sigstore/constants.rs
  tuftool/src/sigstore_trust/trust/sigstore/mod.rs
  tuftool/trust_root/prod/root.json
  tuftool/trust_root/prod/trusted_root.json
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

remove comments
  tuftool/src/rhtas.rs
  tuftool/src/sigstore_trust/trust/mod.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

cargo fmt
  tuftool/src/rhtas.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

updates
  Cargo.lock
  tuftool/Cargo.toml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

embed sigstore-rs into tough
  Cargo.lock
  tuftool/Cargo.toml
  tuftool/src/main.rs
  tuftool/src/rhtas.rs
  tuftool/src/sigstore_trust/errors.rs
  tuftool/src/sigstore_trust/mod.rs
  tuftool/src/sigstore_trust/trust/mod.rs
  tuftool/src/sigstore_trust/trust/sigstore/constants.rs
  tuftool/src/sigstore_trust/trust/sigstore/mod.rs
  tuftool/trust_root/prod/root.json
  tuftool/trust_root/prod/trusted_root.json
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Allow using password-protected private keys
  Cargo.lock
  tough-ssm/src/lib.rs
  tough/Cargo.toml
  tough/src/editor/test.rs
  tough/src/key_source.rs
  tough/src/sign.rs
  tough/tests/data/snakeoil_3.pem
  tough/tests/repo_editor.rs
  tough/tests/target_path_safety.rs
  tuftool/README.md
  tuftool/src/add_key_role.rs
  tuftool/src/add_role.rs
  tuftool/src/create.rs
  tuftool/src/create_role.rs
  tuftool/src/error.rs
  tuftool/src/remove_key_role.rs
  tuftool/src/remove_role.rs
  tuftool/src/rhtas.rs
  tuftool/src/root.rs
  tuftool/src/source.rs
  tuftool/src/transfer_metadata.rs
  tuftool/src/update.rs
  tuftool/src/update_targets.rs
  tuftool/tests/root_command.rs
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

review updates
  tough/src/error.rs
  tough/src/sign.rs
  tuftool/src/root.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

cargo fmt
  tough/src/sign.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

update
  tough/src/sign.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

update
  tuftool/src/root.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

:robot: Updated timestamp file to 2025-06-18,10-20-01.
  trigger-konflux-builds.txt
Due: none

feat: adding validation for key detail detection
  .github/workflows/trust-root-test.yml
  rhtas/test/ctfe-pubkey
  rhtas/test/fulcio-cert
  rhtas/test/rekor-pubkey
  rhtas/test/tsa-chain
  tough/src/editor/targets.rs
  tuftool/src/rhtas.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

embed sigstore-rs into tough (#100)
  Cargo.lock
  tuftool/Cargo.toml
  tuftool/src/main.rs
  tuftool/src/rhtas.rs
  tuftool/src/sigstore_trust/errors.rs
  tuftool/src/sigstore_trust/mod.rs
  tuftool/src/sigstore_trust/trust/mod.rs
  tuftool/src/sigstore_trust/trust/sigstore/constants.rs
  tuftool/src/sigstore_trust/trust/sigstore/mod.rs
  tuftool/trust_root/prod/root.json
  tuftool/trust_root/prod/trusted_root.json
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

feat: adding validation for key detail detection (#104)
  .github/workflows/trust-root-test.yml
  rhtas/test/ctfe-pubkey
  rhtas/test/fulcio-cert
  rhtas/test/rekor-pubkey
  rhtas/test/tsa-chain
  tough/src/editor/targets.rs
  tuftool/src/rhtas.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

:robot: Updated timestamp file to 2025-07-10,11-18-23.
  trigger-konflux-builds.txt
Due: none

:robot: Updated timestamp file to 2025-08-11,09-33-15.
  trigger-konflux-builds.txt
Due: none

refresh package versions and dependencies
  rpms.lock.yaml
  ubi.repo
Due: none

refresh package versions and dependencies (#107)
  rpms.lock.yaml
  ubi.repo
Due: none

:robot: Updated timestamp file to 2025-08-13,14-47-37.
  trigger-konflux-builds.txt
Due: none

:robot: Updated timestamp file to 2025-08-17,19-26-21.
  trigger-konflux-builds.txt
Due: none

:robot: Updated timestamp file to 2025-09-01,13-54-47.
  trigger-konflux-builds.txt
Due: none

:robot: Updated timestamp file to 2025-09-05,09-18-49.
  trigger-konflux-builds.txt
Due: none

:robot: Updated timestamp file to 2025-09-07,19-42-30.
  trigger-konflux-builds.txt
Due: none

:robot: Updated timestamp file to 2025-09-14,21-10-11.
  trigger-konflux-builds.txt
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tuf-tool
  Dockerfile.rh
Due: tuf-tool-on-push

chore(KONFLUX-6210): fix and set name and cpe label for tuffer
  Dockerfile.tuffer
Due: tuffer-on-pull-request, tuffer-on-push

Updating labels
  Dockerfile.rh
  Dockerfile.tuffer
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

:robot: Updated timestamp file to 2025-09-26,10-25-48.
  trigger-konflux-builds.txt
Due: none

:robot: Updated timestamp file to 2025-09-29,10-45-05.
  trigger-konflux-builds.txt
Due: none

fix: lock file update
  ubi.repo
Due: none

fix: lock file update
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

fix: lock file update
  rpms.lock.yaml
Due: none

fix: lock file update (#120)
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
  rpms.lock.yaml
  ubi.repo
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

chore: force konflux build
  licenses/LICENSE-APACHE
Due: none

chore: force konflux build
  trigger-konflux-builds.txt
Due: none
