Repository securesign/tough: changes, and which Tekton pipelines are due for each by the changed paths.
All: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Path conditions:
  tuf-tool-on-push: (((((((any of: Dockerfile.rh) or (any of: .tekton/tuf-tool-push.yaml)) or (any of: deny.toml)) or (any of: Cargo.toml)) or (any of: Cargo.lock)) or (any of: tough/***)) or (any of: tuftool/***)) or (any of: Makefile)
  tuffer-on-pull-request: ((((((((any of: Dockerfile.tuffer) or (any of: .tekton/tuffer-pull-request.yaml)) or (any of: deny.toml)) or (any of: Cargo.toml)) or (any of: Cargo.lock)) or (any of: tough/***)) or (any of: tuftool/***)) or (any of: Makefile)) or (any of: rhtas/***)
  tuffer-on-push: ((((((((any of: Dockerfile.tuffer) or (any of: .tekton/tuffer-push.yaml)) or (any of: deny.toml)) or (any of: Cargo.toml)) or (any of: Cargo.lock)) or (any of: tough)) or (any of: tuftool)) or (any of: Makefile)) or (any of: rhtas)

chore: force konflux rebuild (#121)
  licenses/LICENSE-APACHE
  trigger-konflux-builds.txt
Due: none

Enable Qodo Aware (RAG) for Qodo Merge
  .qodo-merge.toml
Due: none

Update .qodo-merge.toml
  .qodo-merge.toml
Due: none

add .pr_agent.toml
  .pr_agent.toml
Due: none

:robot: Updated timestamp file to 2025-10-03,10-27-48.
  trigger-konflux-builds.txt
Due: none

Align trusted_root.json schema with sigstore-go requirements
  tuftool/src/rhtas.rs
  tuftool/src/sigstore_trust/trust/sigstore/mod.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

fix
  tuftool/src/sigstore_trust/trust/sigstore/mod.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

[SECURESIGN-3143] Align trusted_root.json schema with sigstore-go requirements (#125)
  tuftool/src/rhtas.rs
  tuftool/src/sigstore_trust/trust/sigstore/mod.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

fix: correct licence and user init
  Dockerfile.rh
  Dockerfile.tuffer
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

fix: correct licence and user init (#126)
  Dockerfile.rh
  Dockerfile.tuffer
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

:robot: Updated timestamp file to 2025-10-21,12-54-09.
  trigger-konflux-builds.txt
Due: none

Add support for signing_config.v0.2.json target & enhance get_latest_trusted_root
  Cargo.lock
  tuftool/Cargo.toml
  tuftool/src/error.rs
  tuftool/src/rhtas.rs
  tuftool/src/sigstore_trust/trust/sigstore/mod.rs
  tuftool/tests/rhtas_command.rs
  tuftool/tests/update_rhtas_command.rs
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Add support for signing_config.v0.2.json target & enhance get_latest_trusted_root (#128)
  Cargo.lock
  tuftool/Cargo.toml
  tuftool/src/error.rs
  tuftool/src/rhtas.rs
  tuftool/src/sigstore_trust/trust/sigstore/mod.rs
  tuftool/tests/rhtas_command.rs
  tuftool/tests/update_rhtas_command.rs
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

:robot: Updated timestamp file to 2025-10-30,12-40-59.
  trigger-konflux-builds.txt
Due: none

:robot: Updated timestamp file to 2025-10-31,12-56-49.
  trigger-konflux-builds.txt
Due: none

fix: correct permissions on root.json
  rhtas/tuf-repo-init.sh
Due: tuffer-on-pull-request

fix: correct permissions on root.json (#133)
  rhtas/tuf-repo-init.sh
Due: tuffer-on-pull-request

update tuf-repo-init.sh: Remove ununused signing_config.v0.2.json files
  rhtas/tuf-repo-init.sh
Due: tuffer-on-pull-request

fix typo
  rhtas/tuf-repo-init.sh
Due: tuffer-on-pull-request

update tuf-repo-init.sh: Remove ununused signing_config.v0.2.json files (#134)
  rhtas/tuf-repo-init.sh
Due: tuffer-on-pull-request

:robot: Updated timestamp file to 2025-11-04,10-59-30.
  trigger-konflux-builds.txt
Due: none

Updating Konflux References
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

fix: lockfile
  rpms.lock.yaml
Due: none

fix: lockfile (#143)
  rpms.lock.yaml
Due: none

Fix sigstore_trust tests
  tuftool/src/sigstore_trust/trust/sigstore/mod.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

Updating Trigger Builds
  .github/workflows/trigger-konflux-build.yaml
Due: none

Updating CI
  .github/workflows/rust.yml
  .github/workflows/shellcheck.yml
  .github/workflows/trigger-konflux-build.yaml
  .github/workflows/trust-root-test.yml
Due: none

chore: update lockfile
  rpms.lock.yaml
Due: none

chore: update lockfile (#147)
  rpms.lock.yaml
Due: none

fix: dir permission ownership
  Dockerfile.tuffer
Due: tuffer-on-pull-request, tuffer-on-push

fix: lockfile refresh
  rpms.lock.yaml
Due: none

chore: refresh lockfile
  rpms.lock.yaml
Due: none

chore: refresh lockfile (#149)
  rpms.lock.yaml
Due: none

chore: backport commit from develop
  rhtas/tuf-repo-init.sh
Due: tuffer-on-pull-request

chore: backport commit from develop (#151)
  rhtas/tuf-repo-init.sh
Due: tuffer-on-pull-request

ci: add fips check
  .github/workflows/rust.yml
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
  Cargo.lock
  Dockerfile.rh
  Dockerfile.tuffer
  rpms.lock.yaml
  tuftool/Cargo.toml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

tuf init: add CLI options for configurable Rekor, Fulcio, CTLog, and TSA URIs instead of hardcoded values
  rhtas/tuf-repo-init.sh
Due: tuffer-on-pull-request

updates
  .github/workflows/trust-root-test.yml
  rhtas/tuf-repo-init.sh
Due: tuffer-on-pull-request
