Repository securesign/tough: changes, and which Tekton pipelines are due for each by the changed paths.
All: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Path conditions:
  tuf-tool-on-push: (((((((any of: Dockerfile.rh) or (any of: .tekton/tuf-tool-push.yaml)) or (any of: deny.toml)) or (any of: Cargo.toml)) or (any of: Cargo.lock)) or (any of: tough/***)) or (any of: tuftool/***)) or (any of: Makefile)
  tuffer-on-pull-request: ((((((((any of: Dockerfile.tuffer) or (any of: .tekton/tuffer-pull-request.yaml)) or (any of: deny.toml)) or (any of: Cargo.toml)) or (any of: Cargo.lock)) or (any of: tough/***)) or (any of: tuftool/***)) or (any of: Makefile)) or (any of: rhtas/***)
  tuffer-on-push: ((((((((any of: Dockerfile.tuffer) or (any of: .tekton/tuffer-push.yaml)) or (any of: deny.toml)) or (any of: Cargo.toml)) or (any of: Cargo.lock)) or (any of: tough)) or (any of: tuftool)) or (any of: Makefile)) or (any of: rhtas)

update cached dependencies
  rpms.lock.yaml
  ubi.repo
Due: none

update cached dependencies
  rpms.lock.yaml
Due: none

update cached dependencies
  ubi.repo
Due: none

[SECURESIGN-3143] Align trusted_root.json schema with sigstore-go requirements (#172)
  rpms.lock.yaml
  tuftool/src/rhtas.rs
  tuftool/src/sigstore_trust/trust/sigstore/mod.rs
  ubi.repo
Due: tuf-tool-on-push, tuffer-on-pull-request

[SECURESIGN-3143] Align trusted_root.json schema with sigstore-go requirements (#173)
  rpms.lock.yaml
  tuftool/src/rhtas.rs
  tuftool/src/sigstore_trust/trust/sigstore/mod.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

Updated images & release versions
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
  Dockerfile.rh
  Dockerfile.tuffer
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

fix: swap to ubi-minimal
  Dockerfile.rh
  Dockerfile.tuffer
  rpms.lock.yaml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

fix: swap to ubi-minimal
  rpms.lock.yaml
Due: none

fix: swap to ubi-minimal (#178)
  Dockerfile.rh
  Dockerfile.tuffer
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Updating Dockerfiles to use minimal image
  Dockerfile.rh
  Dockerfile.tuffer
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Updating Base image back to ubi
  Dockerfile.rh
  Dockerfile.tuffer
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Add support for signing_config.v0.2.json target & enhance get_latest_trusted_root
  Cargo.lock
  tuftool/Cargo.toml
  tuftool/src/error.rs
  tuftool/src/rhtas.rs
  tuftool/src/sigstore_trust/trust/sigstore/mod.rs
  tuftool/tests/rhtas_command.rs
  tuftool/tests/update_rhtas_command.rs
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Updating Timestamp file to trigger build
  trigger-konflux-builds.txt
Due: none

:robot: Updated timestamp file to 2026-01-26,10-04-33.
  trigger-konflux-builds.txt
Due: none

:robot: Updated timestamp file to 2026-01-23,10-38-29.
  trigger-konflux-builds.txt
Due: none

chore: add release-version param
  .tekton/tuf-tool-pull-request.yaml
  .tekton/tuf-tool-push.yaml
  .tekton/tuffer-pull-request.yaml
  .tekton/tuffer-push.yaml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Revert "[SECURESIGN-3143] Align trusted_root.json schema with sigstore-go req…"
  rpms.lock.yaml
  tuftool/src/rhtas.rs
  tuftool/src/sigstore_trust/trust/sigstore/mod.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

fix: change back to ubi
  Dockerfile.rh
  Dockerfile.tuffer
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

fix: digest
  Dockerfile.rh
  Dockerfile.tuffer
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

fix: move back to ubi
  Dockerfile.rh
  Dockerfile.tuffer
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

fix: change back to ubi (#183)
  Dockerfile.rh
  Dockerfile.tuffer
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

fix: move back to ubi (#184)
  Dockerfile.rh
  Dockerfile.tuffer
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Updating Cargo and RPM
  Cargo.lock
  rpms.lock.yaml
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Updating Workflow
  .github/workflows/rust.yml
Due: none

Attempting fix
  olpc-cjson/src/lib.rs
Due: none

Removing whitespace
  olpc-cjson/src/lib.rs
Due: none

Updating aws-lc-rs
  Cargo.lock
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Updating quinn
  Cargo.lock
Due: tuf-tool-on-push, tuffer-on-pull-request, tuffer-on-push

Red Hat Konflux update tuftool-cli-stack
  .tekton/tuftool-cli-stack-pull-request.yaml
  .tekton/tuftool-cli-stack-push.yaml
Due: none

Red Hat Konflux update tuftool-cli-stack-v1-2
  .tekton/tuftool-cli-stack-v1-2-pull-request.yaml
  .tekton/tuftool-cli-stack-v1-2-push.yaml
Due: none

Red Hat Konflux update tuftool-cli-stack-v1-3
  .tekton/tuftool-cli-stack-v1-3-pull-request.yaml
  .tekton/tuftool-cli-stack-v1-3-push.yaml
Due: none

add tuftool cli stack
  .tekton/tuf-tool-push.yaml
  .tekton/tuftool-cli-stack-pull-request.yaml
  .tekton/tuftool-cli-stack-push.yaml
  Dockerfile.cli-stack.rh
Due: tuf-tool-on-push

update container build
  Dockerfile.cli-stack.rh
Due: none

feat: make operator configurable
  rhtas/tuf-repo-init.sh
  tuftool/src/rhtas.rs
Due: tuf-tool-on-push, tuffer-on-pull-request

feat: make ca configurable
  rhtas/tuf-repo-init.sh
  tuftool/src/rhtas.rs
Due: tuf-tool-on-push, tuffer-on-pull-request
